.header {
  text-align: center;
  padding: 20px;
}

.title {
  margin: 0;
  color: #333;
}

.description {
  margin-top: 10px;
  color: #666;
}

.chat-window{
  width:30vw
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  /* border: 1px solid #4299e1; */
  border-radius: 30px;
  overflow: hidden;
  z-index: 9999;
}

.conversation {
  padding: 20px;
  height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Change 'end' to 'flex-end' */
  gap: 10px;
  background-color: #f9f9f9;
}


.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.message.user {
  align-self: flex-end;
  text-align: center;
  max-width: 17vw;
  word-wrap: break-word;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: #53e1fd;
  color: white;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.typing-indicator {
  font-style: italic;
  color: #666;
}

.icon-spin {
  animation: spin 2s linear infinite;
}
.message.assistant {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: #333;
  max-width: 17vw;
}

.input-area {
  display: flex;
  padding: 10px;
  background-color: #fff;
}

.input-message {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-right: 10px;
}

.send-btn {
  background-color: #00e1ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn:hover {
  background-color: #0056b3;
}

.chat-icon {
  width: 50px;
  height: 35px; 
}
.img-container{
  display: flex;
}

.chatbot-p {
  padding-left: 10px;
  margin-top: -1px;
  margin-top: 7px;
}

.chat-button img{
  width:4vw;
}